
<header>
  <div class="inner">
    <div class="logo">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img src="assets/images/netcom-kassel-logo.svg" alt="Netcom Kassel">
      </a>
    </div>
    <div class="links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img src="assets/icons/home.svg" alt="Startseite">
        Home
      </a>
      <a href="https://github.com/Tobias-Keller/netcom-github" target="_blank" rel="noopener">
        <img src="assets/icons/github.svg" alt="Github">
        GitHub
      </a>
    </div>
  </div>
</header>
